<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="../option.js"></script>
    <link rel="stylesheet" href="../css/option.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" />
    <title>Options</title>
</head>

<body>
    <div class="section-container">
        <div class="section-title">
            <span class="material-icons-outlined">play_circle</span>
            Auto-Launch Settings
        </div>
        <div class="section-content checkbox-container">
            <input id="auto-unmute-checkbox" type="checkbox" />
            <label for="auto-unmute-checkbox">Automatically unmute player after auto-launch</label>
        </div>
    </div>
    <div class="section-container">
        <div class="section-title">
            <span class="material-icons-outlined">notifications</span>
            Notification Settings
        </div>
        <div class="section-content checkbox-container">
            <input id="show-notification-checkbox" type="checkbox" />
            <label for="show-notification-checkbox">Show notifications</label>
        </div>
        <div class="section-content volume-slider-container">
            <span class="volume-slider-label">Notification volume</span>
            <input id="volume-slider" class="volume-slider" type="range" min="0" max="100" step="5" />
            <span id="volume-value-text" class="volume-value-text"></span> %
            <button id="play-test-sound-button" class="play-test-sound-button">[Test]</button>
        </div>
    </div>
</body>

</html>