<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="../option.js"></script>
    <link rel="stylesheet" href="../css/option.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" />
    <title>Options</title>
</head>

<body>
    <div class="section-container">
        <div class="section-title">
            <span class="material-icons-outlined">play_circle</span>
            <span id="auto-launch-settings-span"></span>
        </div>
        <div class="section-content checkbox-container">
            <input id="auto-unmute-checkbox" type="checkbox" />
            <label id="auto-unmute-label" for="auto-unmute-checkbox"></label>
        </div>
    </div>
    <div class="section-container">
        <div class="section-title">
            <span class="material-icons-outlined">notifications</span>
            <span id="notification-settings-span"></span>
        </div>
        <div class="section-content checkbox-container">
            <input id="show-notification-checkbox" type="checkbox" />
            <label id="show-notification-label" for="show-notification-checkbox"></label>
        </div>
        <div class="section-content volume-slider-container">
            <span id="volume-label" class="volume-slider-label"></span>
            <input id="volume-slider" class="volume-slider" type="range" min="0" max="100" step="5" />
            <span id="volume-value-text" class="volume-value-text"></span> %
            <button id="play-test-sound-button" class="play-test-sound-button"></button>
        </div>
    </div>
</body>

</html>