<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <script src="../popup.js"></script>
  <link rel="stylesheet" href="../css/popup.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" />
  <title>Popup</title>
</head>

<body>
  <!-- Menu -->  
  <div class="menu-container">
    <span class="menu-item">
      <span class="material-icons" id="suspend-icon"></span>
      <button id="suspend-button" class="menu-button"></button>
    </span>
    <span class="menu-item">
      <span class="material-icons-outlined" id="duplicate-tab-guard-icon"></span>
      <button id="duplicate-tab-guard-button" class="menu-button"></button>
    </span>
    <!-- <span class="menu-item">
      <span class="material-icons">sync_alt</span>
      <button id="reconnect-button" class="menu-button"></button>
    </span> -->
    <span class="menu-item">
      <span class="material-icons">refresh</span>
      <button id="refresh-button" class="menu-button"></button>
    </span>
    <span class="menu-item">
      <span class="material-icons">settings</span>
      <button id="option-button" class="menu-button"></button>
    </span>
    <span class="menu-item menu-item-right">
      <a href="https://twitch.tv" target="_blank" title="Twitch">
        <span class="material-icons">open_in_new</span>
        Twitch
      </a>
    </span>
  </div>

  <!-- Tabs -->
  <div class="tabs-container">
    <button id="following-button" class="tab-button active" data-tab="following-streams"></button>
    <button id="trending-button" class="tab-button" data-tab="trending-streams"></button>
    <button id="auto-launch-button" class="tab-button" data-tab="auto-launch"></button>
  </div>

  <!-- Content -->
  <div class="content-container">
    <!-- Following Streams Tab -->
    <div id="following-streams" class="tab-content active">
      <div class="streams-container" id="following-streams-list"></div>
    </div>
    <!-- Trending Streams Tab -->
    <div id="trending-streams" class="tab-content">
      <div class="trending-select-container" id="trending-select"></div>
      <div class="streams-container" id="trending-streams-list"></div>
    </div>
    <!-- Auto Launch Tab -->
    <div id="auto-launch" class="tab-content">
      <div class="auto-launch-container" id="auto-launch-list"></div>
    </div>
  </div>
</body>

</html>